{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/3rd/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/static/css/3rd/datatables.min.css">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">资产管理</a></li>
        <li><a href="{% url 'assets' %}">设备信息</a></li>
    </ol>
    <table id="data_list" class="hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th></th>
            <th>资产编号</th>
            <th>名称</th>
            <th>业务线</th>
            <th>管理ip</th>
            <th>CPU/RAM</th>
            <th>型号</th>
            <th>管理员</th>
        </tr>
        </thead>
        <tbody>
        {% for i in data %}
            <tr>
                <td><a href="/eyes/details/{{ i.uid }}/">{{ forloop.counter }}</a></td>
                <td>{{ i.uid }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.business.name }}</td>
                <td>{{ i.mip }}</td>
                <td>{{ i.cpu.logic_count }}核/{{ i.ram_size }}</td>
                <td>{{ i.model }}</td>
                <td>{{ i.admin }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js %}
    <script type="text/javascript" charset="utf8" src="/static/js/3rd/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/js/3rd/dataTables.bootstrap.js"></script>
    <script type="text/javascript" charset="'utf-8" src="/static/js/3rd/ellipses.js"></script>

    <script>
        $(document).ready(function () {
            $('#data_list').DataTable({
                "pagingType": "ellipses"
            });
        });
    </script>
{% endblock %}