{% extends 'index.html' %}

{% block content %}
    {% load bootstrap3 %}

    <ol class="breadcrumb">
        <li><a href="#">修改密码</a></li>
    </ol>

    <div class="col-xs-offset-2 col-xs-6">
        <div class="well-lg" style="background-color: #F8F8FF">
            {% if oldpassword_is_wrong %}
                <div class="alert alert-danger alert-dismissable alert-link">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    错误!原密码不正确
                </div>
            {% endif %}

            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <button type="submit" class="btn btn-primary pull-right">确认修改</button>
            </form>
        </div>
    </div>
{% endblock %}