<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>xcmdb</title>
    {% endblock %}

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "css/3rd/bootstrap/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/src/custom.css" %}">
    <link rel="stylesheet" href="{% static "awesome/css/font-awesome.min.css" %}">
    {% block css %}{% endblock %}

    {% url 'assets' as assets %}
    {% url 'idcinfo' as idcinfo %}
    {% url 'lotupload' as lotupload %}
    {% url 'batch' as batch %}
    {% url 'file_distribution' as file_distribution %}
    {% url 'assets_pro' as assets_pro %}
</head>

<body>
<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">XCMDB</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>

                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">{{ request.user.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'changepwd' %}">修改密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">logout</li>
                            <li><a href="{% url 'logout' %}">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}">注册\登录</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

{% block pg-container %}
    <div class="pg-body">
        <div class="menu">
            <ul class="list">
                <li>

                    <a href="#" onclick="show_item(this)">
                        <i class="fa fa-bar-chart"></i>
                        <span
                                {% if request.path == assets or request.path == idcinfo or request.path == lotupload or request.path == assets_pro %}
                                    class="selected_color" {% endif %}>资产管理
                        </span>
                    </a>

                    <div id="assets" class="sub_list
                     {% if request.path != assets and request.path != idcinfo and request.path != lotupload and request.path != assets_pro %} hiding {% endif %}">
                        <ul class="list-unstyled">
                            <li>
                                <a id="assets_info" href="{% url 'assets' %}" {% if request.path == assets %}
                                   class="sub_item_color_up" {% endif %}> 中心资产</a>
                            </li>
                            <li>
                                <a id="assets_info" href="{% url 'assets_pro' %}" {% if request.path == assets_pro %}
                                   class="sub_item_color_up" {% endif %}> 项目信息</a>
                            </li>
                            <li>
                                <a id="idc_info" href="{% url 'idcinfo' %}" {% if request.path == idcinfo %}
                                   class="sub_item_color_up" {% endif %}>机房信息</a>
                            </li>
                            <li>
                                <a id="lotupload" href="{% url 'lotupload' %}" {% if request.path == lotupload %}
                                   class="sub_item_color_up" {% endif %}>批量导入</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#" onclick="show_item(this)">
                        <i class="fa fa-pencil-square-o"></i>
                        <span {% if request.path == batch or request.path == file_distribution %}
                            class="selected_color" {% endif %}>服务管理</span>
                    </a>
                    <div id="server"
                         class="sub_list {% if request.path !=  batch and request.path != file_distribution %} hiding {% endif %}">
                        <ul class="list-unstyled">
                            <li>
                                <a id="batch" href="{% url 'batch' %}" {% if request.path == batch %}
                                   class="sub_item_color_up" {% endif %}>批量执行</a>
                            </li>
                            <li>
                                <a id="file_distribution" href="{% url 'file_distribution' %}"
                                        {% if request.path == file_distribution %}
                                   class="sub_item_color_up" {% endif %}>文件分发</a>
                            </li>
                            <li>
                                <a id="cnf_edit" href="#" {% if request.path == lotupload %}
                                   class="sub_item_color_up" {% endif %}>配置变更</a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li><a href="/eyes/account_manage/">
                    <i class="fa fa-user-o"></i>
                    <span>用户管理</span>
                </a></li>

                <li><a href="{% url 'modifylog' %}">
                    <i class="fa fa-clone"></i>
                    <span>变更记录</span>
                </a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}
                <div class="jumbotron" style="padding: 15px;">
                    <h1>Welcome to xcmdb</h1>
                    <p>...</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

<script src="{% static "js/3rd/jquery-2.1.1.js" %}"></script>
<script src="{% static "js/3rd/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "js/src/csrf.js" %}"></script>
{% block js %}{% endblock %}

<script src="{% static "js/src/menu_list.js" %}"></script>
<script src="{% static "js/src/scrollTop.js" %}"></script>

</body>
</html>