<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>axe</title>
    {% endblock %}

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "css/3rd/bootstrap/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/src/navbar-fixed-top.css" %}">
    {% block css %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">CMDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>

                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">{{ request.user.name }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.baidu.com">百度</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">logout</li>
                            <li><a href="{% url 'logout' %}">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">注册\登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block pg-container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked text-center">
                    <li><a href="#">用户管理</a></li>
                    <li><a href="{% url 'assets' %}">资产管理</a></li>
                    <li><a href="{% url 'modifylog' %}">变更记录</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                {% block content %}
                    <div class="jumbotron">
                        <h1>Welcome to xcmdb</h1>
                        <p>...</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

<script src="{% static "js/3rd/jQuery_v2.1.1/jquery-2.1.1.js" %}"></script>
<script src="{% static "js/3rd/bootstrap/bootstrap.js" %}"></script>

{% block js %}{% endblock %}

<script>
    $(function () {
        {#        $('body').animate({scrollTop: 0}, 200);#}
        $('body').scrollTop(0);
    });
</script>

</body>
</html>