{% extends 'frame.html' %}


{% block pg-container %}

    <div class="col-xs-offset-4 col-xs-4 login-form">
        <form class="form-signin" action="{% url 'login' %}" method="post">{% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>

            <label for="inputUser" class="sr-only">Username</label>
            <input type="text" id="inputUser" name="username"
                   class="form-control" placeholder="Username" required="" autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password"
                   class="form-control" placeholder="Password" required="">

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p style="color:red;">{{ err_msg }}</p>
        </form>
    </div>


{% endblock %}