{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/3rd/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/static/css/3rd/datatables.min.css">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="/eyes/details/{{ asset_uid }}/">资产详情</a></li>
        <li><a href="#">硬件信息</a></li>
        <li><a href="/eyes/modifylog/?uid={{ asset_uid }}">变更记录</a></li>
    </ol>
    <table id="data_list" class="hover table-bordered">
        <thead>
        <tr>
            <th style="width: 30px; text-align: center;">编号</th>
            <th style="width: 50px; text-align: center;">事件名称</th>
            <th style="width: 40px; text-align: center;">事件类型</th>
            <th style="text-align: center;">事件详情</th>
            <th style="width: 40px; text-align: center;">操作人员</th>
            <th style="width: 100px; text-align: center;">修改时间</th>
        </tr>
        </thead>
        <tbody>
        {% for i in modify_obj %}
            <tr>
                <td style="text-align: center;"><a href="/eyes/details/{{ i.asset_uid_id }}/">{{ forloop.counter }}</a>
                </td>
                <td>{{ i.event_name }}</td>
                <td style="text-align: center;">{{ i.event_type }}</td>
                <td>{{ i.detail }}</td>
                <td style="text-align: center;">{{ i.user }}</td>
                <td>{{ i.create_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js %}
    <script type="text/javascript" charset="utf8" src="/static/js/3rd/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/js/3rd/dataTables.bootstrap.js"></script>
    <script type="text/javascript" charset="'utf-8" src="/static/js/3rd/ellipses.js"></script>

    <script>
        $(document).ready(function () {
            $('#data_list').DataTable({
                "pagingType": "ellipses"
            });
        });
    </script>
{% endblock %}