{% extends 'index.html' %}


{% block content %}
    <ol class="breadcrumb">
        <li><a href="/eyes/modifylog/">变更记录</a></li>
    </ol>
    <table id="data_list" class="hover  table-bordered">
        <thead>
        <tr>
            <th style="width: 30px; text-align: center;">编号</th>
            <th style="width: 50px; text-align: center;">事件名称</th>
            <th style="width: 40px; text-align: center;">事件类型</th>
            <th style="text-align: center;">事件详情</th>
            <th style="width: 40px; text-align: center;">操作人员</th>
            <th style="width: 100px; text-align: center;">修改时间</th>
        </tr>
        </thead>
        <tbody>
        {% for i in modifylog_obj %}
            <tr>
                <td><a href="/eyes/details/{{ i.asset_uid_id }}/">{{ forloop.counter }}</a></td>
                <td>{{ i.event_name }}</td>
                <td>{{ i.event_type }}</td>
                <td>{{ i.detail }}</td>
                <td>{{ i.user }}</td>
                <td>{{ i.create_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}