{% extends 'index.html' %}


{% block content %}
    <div class="col-sm-6 content_img">
        <div class="content_img_bgcolor">
            <div id="ip_res" class="content_img_size"></div>
        </div>
    </div>
    <div class="col-sm-6 content_img">
        <div class="content_img_bgcolor">
            <div id="band_width" class="content_img_size"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/3rd/echarts/echarts-all.js"></script>
    <script src="/static/js/src/net_res.js"></script>
{% endblock %}


